# Secret used for cookies (can be generated with `scripts/generate_secret.js`)
SECRET='<secret>'
# Database host (should match docker database container)
DB_HOST='database'
# Database settings
MYSQL_ROOT_PASSWORD='<root-password>'
MYSQL_USER='server'
MYSQL_PASSWORD='<password>'
MYSQL_DATABASE='gwiazdy-zsi'