# Secret used for cookies
SECRET='47453756456554697'
# Database host (should match docker database container)
DB_HOST='database'
# Database settings
MYSQL_ROOT_PASSWORD='root'
MYSQL_USER='server'
MYSQL_PASSWORD='password'
MYSQL_DATABASE='gwiazdy-zsi'