@import url("./global.css");

header {
    background: var(--secondary);
    text-align: center;
    padding: 1.25em 0.5em;
    border-radius: 0 0 2rem 2rem;
}

section {
    width: fit-content;
    text-align: center;
    margin: 2rem auto;
    padding: 0 1rem;
}

section h2 {
    color: var(--accent);
}

section h3 {
    color: var(--primary);
    font-size: 1.5em;
    margin-top: 1rem;
}

p.description {
    max-width: 50ch;
    text-wrap: balance;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

ul.credits {
    padding: 0;
    margin: 0.5rem 0;
    text-align: center;
}

ul.credits li {
    list-style: none;
    margin: 0.125rem 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5em;

    background: var(--secondary);
}

footer button {
    min-width: 4rem;
    padding: 0.75em;
    aspect-ratio: 1;

    cursor: pointer;
}

@media (min-width: 750px) {
    footer {
        background: transparent;
        width: fit-content;
    }
}
