header {
    padding: 1em;
    margin-bottom: 2rem;
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    background: var(--secondary);
}

h1 {
    font-size: 2.75rem;
    max-width: 100%;
    display: inline-block;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 1em;
    border-radius: 1rem;
    text-align: center;
    background: var(--secondary);
    transition: all 100ms ease-out;
}

nav a:hover {
    scale: 1.0125;
}

.tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.33rem;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}

.tile > * {
    flex: 1;
}

nav a.highlight {
    font-weight: normal;
    text-decoration: none;
    font-size: 1em;
}
