header {
    padding: 1em;
    margin-bottom: 2rem;
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    background: var(--secondary);
}

h1 {
    font-size: 2.75rem;
    max-width: 100%;
    display: inline-block;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 1em;
    border-radius: 1rem;
    text-align: center;
    background: var(--secondary);
    transition: all 100ms ease-out;
}

nav a:hover {
    scale: 1.0125;
}

nav a.highlight {
    font-weight: normal;
    text-decoration: none;
    font-size: 1em;
}

nav a.reminder {
    position: relative;
}

nav a.reminder::after {
    --_size: 0.75rem;
    content: "";
    width: var(--_size);
    height: var(--_size);
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--accent);
    border-radius: 100%;
    box-shadow: 0 0 2px 1px var(--accent);
}
