body {
    background: #000;
    color: white;

    margin: 0;
    min-height: 100vh;

    display: grid;
    place-items: center;
    
    text-align: center;
}

main {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 2rem 0;
}

img {
    width: 70%;
}

a {
    color: white;
    display: block;
    font-size: 1.5rem;
}