/* --- */

body {
    display: grid;
    place-items: center;
    text-align: center;
}

main {
    margin: 1rem;
    padding: 2rem 0;

    border-radius: 1rem;

    background: var(--secondary);
}

img {
    width: 70%;
    margin: 1rem;

    border: 1px solid var(--accent);
    border-radius: 1rem;
    box-shadow: 0 0 4px 1px var(--accent);
}

a {
    display: block;
    cursor: pointer;

    text-decoration: underline;
}
