body {
    display: grid;
    place-items: center;
}

a {
    margin: 1em;
    text-decoration: underline;
}

main {
    margin: 1rem;
    padding: 2em 4em;

    border-radius: 1rem;
    text-align: center;
    background: var(--secondary);
}

form {
    margin: 2em 1em;
}

.field {
    margin: 1.5em 0;
    text-align: left;
}

#error {
    color: red;
    margin: 0;
}
