body {
    padding: 0.5rem;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    margin: 1em;
    text-decoration: underline;
}

main {
    margin: 1rem auto;
    padding: 2em 4em;

    border-radius: 1rem;
    text-align: center;
    background: var(--secondary);
    max-width: 30rem;
}

form {
    margin: 2em 1em;
}

.field {
    margin: 1.5em 0;
    text-align: left;
}

#error {
    color: red;
    margin: 0;
}
