body {
    padding: 0.5rem;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    margin: 1rem auto;
    border-radius: 1rem;
    padding: clamp(0.5em, 3vw, 2em) clamp(1em, 6vw, 4em);
    text-align: center;
    background: var(--secondary);
    width: 100%;
    max-width: 30rem;
}

form {
    margin: 2em 0;
}

button {
    width: 100%;
    margin: 2em 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

nav a {
    flex: 1;
    aspect-ratio: 1;
    align-content: center;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.25rem;
    border: 1px solid var(--primary);
    background-color: var(--background);
    transition: all 100ms ease-out;
}

nav a:hover {
    translate: 0 -1px;
}

.field {
    margin: 1.5em 0;
    text-align: left;
}

#error {
    color: red;
    margin: 0;
}

#error:empty {
    visibility: hidden;
}

img.imageDisplay {
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    max-width: 100%;
}
