* {
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;

    margin: 0;
    padding: 1rem;

    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}

main {
    flex: 30%;
    position: sticky;
    top: 1rem;
}

section {
    flex: 70%
}

.box {
    width: fit-content;

    padding: 1rem;
    margin: 2rem auto;

    border: 1px solid white;
    border-radius: 1rem;
}

#results:empty, #imagetablist:empty {
    display: none;
}

#results {
    margin: 1rem 0;
}

.tagtab, .imagetab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border: 1px solid white;
    border-color: white transparent;
    
    margin: 0.5rem 0;
}

.imagetab > img {
    max-width: 20%;
}

a {
    width: fit-content;
    font-size: 1rem;
    color: white;
}
