* {
	box-sizing: border-box;
}

body {
	background: #000;
	color: white;

	margin: 0;
	padding: 1rem;
	min-height: 100vh;

	display: flex;
	justify-content: space-between;
	gap: 2rem;
	
	text-align: center;

	scroll-behavior: smooth;
}

main, aside {
	border: 1px solid #fff;
	border-radius: 2rem;
	padding: 1rem;
}

main {
	flex: 70%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

main > img {
	max-height: 80vh;
	max-width: 50vw;

	border: 1px solid #fff;
	padding: 0.25rem;
	border-radius: 5px;

}

.controlls > a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	margin: 0 2rem;
}

aside {
	flex: 30%;
}

#results, #tags {
	margin: 1rem;
	padding: 0.5rem;

	border: 1px solid white;

	max-height: calc(2rem + 20vh);
	overflow-y: auto;
}

#results:empty, #tags:empty {
	border: none
}

.tag {
	margin: 0.5rem 0;
	padding: 0 0.5rem;

	border: 1px solid #fff;
	border-radius: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	font-size: 1.5rem;
}

.tag > p {
	margin: 0;
	padding: 0;
}


