@import url("./global.css");

h1 {
	color: var(--accent);
}

/* --- */

header {
	text-wrap: balance;
	background: var(--secondary);
	text-align: center;
	padding: 1.25em 0.5em;
	border-radius: 0 0 2rem 2rem;
}

.desc {
	margin: auto;
	max-width: 50ch;
}

nav {
	margin: 1em 0 1em;
	padding: 0 1em;

	display: grid;
	grid-template-areas:
		"random id id"
		"tags tags tags";
	gap: 1em;
	justify-content: center;
}

.nav-tile {
	background: var(--secondary);
	padding: 1em;
	border-radius: 1em;
}

.nav-tile.random-image {
	grid-area: random;
	display: grid;
	place-items: center;

	aspect-ratio: 1;

	text-align: center;
}

.nav-tile.find-id {
	grid-area: id;
}

.nav-tile.find-tags {
	grid-area: tags;
}

.search-field {
	position: relative;
}

.search-field:has(.search-results:not(:empty)) input {
	border-radius: 0.5em 0.5em 0 0;
}

.search-results {
	position: absolute;
	bottom: 0;
	left: 0;
	translate: 0 calc(100% - 2px);

	z-index: 1;

	width: 100%;

	border: 1px solid var(--accent);
	border-radius: 0 0 0.5em 0.5em;
}

.search-results:empty {
	display: none;
}

.tagtab {
	display: block;
	width: 100%;
	border-radius: 0;

	cursor: pointer;
	box-shadow: none;
}

.tagtab:last-of-type {
	border-radius: 0 0 0.5em 0.5em;
}

.tagtab:focus,
.tagtab:hover {
	color: var(--accent);
}

main {
	width: 100%;
	padding: 1em;
	padding-bottom: 20%;

	z-index: -1;

	text-align: center;
}

.imagetab {
	max-width: 100%;

	padding: 1em;
	margin: auto;
	margin-bottom: 1em;

	border-radius: 1em;

	background-color: var(--secondary);
}

.imagetab>img {
	max-width: 100%;
	max-height: 100vh;
	margin-bottom: 0.5em;

	border: 2px solid var(--accent);
	border-radius: 0.5rem;
	box-shadow: 0 0 4px 1px var(--accent);
}

.imagetab>a {
	display: block;
	text-decoration: underline;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.5em;

	background: var(--secondary);
}

footer button {
	min-width: 3rem;
	padding: 0.75em;
	aspect-ratio: 1;

	cursor: pointer;
}

@media (min-width: 750px) {

	header {
		border-radius: 0 0 2rem 0;
	}

	.section-wrap {
		display: flex;
	}

	aside {
		display: block;
		padding: 1em;
	}

	nav {
		position: sticky;
		top: 1em;

		grid-template-areas:
			"random"
			"id"
			"tags";
	}

	.nav-tile.random-image {
		aspect-ratio: 0;
	}

	main {
		border-left: 1px solid var(--primary);
		min-height: 85vh;
		padding-bottom: 5em;
		z-index: 0;
	}

	footer {
		background: transparent;
	}

}