h1 {
    color: var(--accent);
}

/* --- */

header {
    text-wrap: balance;
    background: var(--secondary);
    text-align: center;
    padding: 0.125em;
    border-radius: 0 0 2rem 2rem;
}

.desc {
    margin: auto;
    max-width: 50ch;
}

nav {
    margin: 1em 0 1em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "about ranking random"
        "id id id"
        "tags tags tags";
    gap: 1em;
    justify-content: center;
}

.nav-tile {
    z-index: 1;
    background: var(--secondary);
    padding: 1em;
    border-radius: 1em;
    transition: all 100ms ease-out;
}

.nav-tile:is(:hover, :focus-within) {
    scale: 1.025;
}

.nav-tile.btn-tile {
    display: grid;
    place-items: center;
    text-align: center;
}

.nav-tile.tag-ranking {
    grid-area: ranking;
}

.nav-tile.random-image {
    grid-area: random;
    aspect-ratio: 1;
}

.nav-tile.find-id {
    grid-area: id;
}

.nav-tile.find-tags {
    grid-area: tags;
}

.nav-tile.about {
    grid-area: about;
}

.search-field {
    position: relative;
}

.search-field:has(.search-results:not(:empty)) input {
    border-radius: 0.5em 0.5em 0 0;
}

.search-results {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 calc(100% - 2px);
    z-index: 10;
    width: 100%;
    border: 1px solid var(--accent);
    border-radius: 0 0 0.5em 0.5em;
}

.search-results:empty {
    display: none;
}

.tagtab {
    display: block;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    box-shadow: none;
    transition: all 100ms ease-out;
}

.tagtab:is(:hover, :focus) {
    box-shadow: 0 2px var(--accent);
    color: var(--accent);
}

.tagtab:last-of-type {
    border-radius: 0 0 0.5em 0.5em;
}

main {
    position: relative;
    width: 100%;
    padding: 1em;
    padding-bottom: 30%;
    z-index: 0;
    text-align: center;
}

.imagetab {
    max-width: 100%;
    padding: 1em;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: var(--secondary);
}

.imagetab > img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.5em;
    border: 2px solid var(--accent);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 1px var(--accent);
    cursor: zoom-in;
}

.imagetab > a {
    display: block;
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background: var(--secondary);
}

footer > a.buttonlike {
    width: 100%;
    max-width: 4rem;
    padding: 0.75em;
    aspect-ratio: 1;
}

#dialogHelpWanted {
    color: var(--text);
    background-color: var(--secondary);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border: none;
    border-top: 1px solid var(--accent);
    text-align: center;
    box-shadow: -2px 0 2px 1px var(--accent);
    padding: 0 1rem;
    z-index: 1000;
}

#dialogHelpWanted > * {
    max-width: 50ch;
    margin: 1rem auto;
    text-wrap: balance;
}

#dialogHelpWanted > img {
    max-height: 55vh;
    border: 2px solid var(--accent);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 1px var(--accent);
    border-radius: 1rem;
    margin-bottom: 0;
}

#dialogHelpWanted > .wraper {
    justify-content: center;
    align-items: stretch;
}

@media (min-width: 750px) {
    header {
        border-radius: 0 0 2rem 0;
    }

    .section-wrap {
        display: flex;
    }

    aside {
        display: block;
        padding: 1em;
    }

    nav {
        position: sticky;
        top: 1em;

        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "about"
            "ranking"
            "random"
            "id"
            "tags";
    }

    .nav-tile.random-image {
        aspect-ratio: 0;
    }

    main {
        border-left: 1px solid var(--primary);
        min-height: 85vh;
        padding-bottom: 5em;
        z-index: 0;
    }

    footer {
        left: auto;
        right: 0;
        width: fit-content;
        flex-direction: column-reverse;
        gap: 0.75rem;
        background-color: transparent;
    }
}
