body {
    padding: 0;
    padding-bottom: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    max-width: 100%;
}

h1 {
    font-size: 3.5rem;
}

main {
    margin: 1rem auto;
    border-radius: 1rem;
    padding: clamp(0.5em, 3vw, 2em) clamp(1em, 6vw, 4em);
    text-align: center;
    background: var(--secondary);
    width: 100%;
    max-width: 30rem;
}

form {
    margin: 2em 0;
}

.field {
    margin: 1.5em 0;
    text-align: left;
}

button {
    width: 100%;
    margin: 2em 0;
}

header {
    width: 100%;
    padding: 1em;
    margin-bottom: 2rem;

    border-radius: 0 0 2rem 2rem;

    text-align: center;
    background: var(--secondary);
}

.users {
    width: 100%;
    margin: 1rem auto;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 3rem;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}

.user button.delete {
    width: fit-content;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background: var(--secondary);
}

footer a.buttonlike {
    width: 100%;
    max-width: 4rem;
    padding: 0.75em;
    aspect-ratio: 1;
}

@media (min-width: 750px) {
    body {
        padding-bottom: 10%;
    }

    main {
        z-index: 1;
    }

    footer {
        background: transparent;
        z-index: 0;
    }
}
