@import url("./global.css");
@import url("./forms.css");

body {
    padding: 0;
    text-align: center;
}

header {
    width: 100%;
    padding: 1em;
    margin-bottom: 2rem;

    border-radius: 0 0 2rem 2rem;

    text-align: center;
    background: var(--secondary);
}

.users {
    width: 100%;
    margin: 1rem auto;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    min-height: 3rem;
    margin: 0.5rem auto;
    padding: 0.5rem;

    border: 1px solid var(--primary);
    border-radius: 1rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5em;

    background: var(--secondary);
}

footer button {
    min-width: 4rem;
    padding: 0.75em;
    aspect-ratio: 1;

    cursor: pointer;
}

@media (min-width: 750px) {

    footer {
        background: transparent;
    }

}