<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="sutaC" />
        <title>Gwiazdy ZSI | About</title>
        <link
            rel="shortcut icon"
            href="/images/favicon.svg"
            type="image/x-icon"
        />

        <link rel="stylesheet" href="/style/about.css" />
    </head>

    <body>
        <header>
            <h1>About</h1>
        </header>

        <main>
            <section aria-labelledby="hGwiazdy">
                <h2 id="hGwiazdy">Gwiazdy ZSI?</h2>
                <p class="description">
                    Gwiazdy ZSI to autorski projekt mający na celu zgromadzenie
                    oraz oznaczenie zdjęć nauczycieli z ZSI. Zdjęcia można
                    wyszukiwać poprzez znajdujących się na nich nauczycieli, co
                    tworzy solidną bazę obrazków. Autor strony nie odpowiada za
                    zamieszczone zdjęcia, jedynie za ich skatalogowwanie.
                </p>
            </section>

            <section aria-labelledby="hCredits">
                <h2 id="hCredits">Credits</h2>
                <p>
                    Project created and maintained by:
                    <a
                        href="http://github.com/sutaC"
                        target="_blank"
                        rel="noopener noreferrer"
                        >sutaC</a
                    >
                </p>

                <div>
                    <h3>Contributors</h3>
                    <small
                        >There are no contributors yet, but you can become the
                        first! ;3</small
                    >
                    <ul class="credits">
                        <!-- Empty -->
                    </ul>
                </div>

                <div>
                    <h3>Administration</h3>
                    <small
                        >There are no administrators yet, but you can become the
                        first! ;3</small
                    >
                    <ul class="credits">
                        <!-- Empty -->
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <a href="/"><button>Return</button></a>
        </footer>
    </body>
</html>
