<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Add Image</title>
        <link rel="stylesheet" href="/style/forms.css" />
    </head>

    <body>
        <main>
            <h1>Add Image</h1>

            <form
                hx-post="/api/addImg"
                hx-boost="true"
                hx-target="#error"
                hx-confirm="Are you sure you want to add this image?"
                hx-encoding="multipart/form-data"
            >
                <p id="error"></p>

                <div class="field">
                    <label for="imgUrl">URL</label>
                    <input type="text" name="imgUrl" id="imgUrl" />
                </div>

                <div class="field">
                    <label for="imgFile">File</label>
                    <input type="file" name="imgFile" id="imgFile" />
                </div>

                <button type="submit">Add</button>
            </form>

            <a href="/admin">Go back</a>
        </main>
    </body>
</html>
