<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Strona administracyjna</title>
        <link rel="stylesheet" href="/style/admin.css" />
    </head>

    <body>
        <header>
            <h1>Strona administracyjna</h1>
            <p>Witaj <%= user %>! Jesteś teraz autoryzowany.</p>
        </header>

        <nav>
            <a href="/">Przejdź do strony głównej</a>
            <a
                href="/logout"
                class="highlight"
                hx-boost="true"
                hx-confirm="Czy na pewno chcesz się wylogować?"
                >Wyloguj</a
            >
            <a href="/tags">Etykiety</a>
            <a href="/addImg">Dodaj zdjęcie</a>
            <a href="/logs">Logi serwera</a>
            <a href="/reset">Zresetuj hasło</a>
            <% if (user==="admin" ) { %>
            <a href="/users">Użytkownicy</a>
            <% } %>
        </nav>
    </body>
</html>
