<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>

<body>
    <main>
        <h1>Admin page</h1>
        <p>You are now authorized as admin user</p>

        <a href="/">Go to homepage</a>
        <a href="/logout">Logout</a>
        <a href="/reset">Reset password</a>
    </main>


</body>

</html>