<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>

    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/admin.css">
</head>

<body>
    <header>
        <h1>Admin page</h1>
        <p>You are now authorized as admin user</p>
    </header>

    <nav>
        <a href="/">Go to homepage</a>
        <a href="/addImg">Add Image</a>
        <a href="/logout">Logout</a>
        <a href="/reset" class="red">Reset password</a>
        <div class="block">
            <a href="/log">Get server logs</a>
            <a href="/log" hx-boost="true" hx-delete="/log" class="red">Clear server logs</a>
        </div>
    </nav>

    <main></main>

</body>

</html>