<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Admin page</title>
        <link rel="stylesheet" href="/style/admin.css" />
    </head>

    <body>
        <header>
            <h1>Admin page</h1>
            <p>Welcome <%= user %>! You are now authorized.</p>
        </header>

        <nav>
            <a href="/">Go to homepage</a>
            <a
                href="/logout"
                class="highlite"
                hx-boost="true"
                hx-confirm="Are you sure you want to logout?"
                >Logout</a
            >
            <a href="/tags">Tags</a>
            <a href="/addImg">Add Image</a>
            <div class="tile">
                <a href="/log">Get server logs</a>
                <a
                    href="/log"
                    hx-boost="true"
                    hx-delete="/log"
                    class="highlite"
                    hx-boost="true"
                    hx-confirm="Are you sure you want to clear server logs?"
                    >Clear server logs</a
                >
            </div>
            <a href="/reset">Reset password</a>
            <% if (user==="admin" ) { %>
            <a href="/users">Users</a>
            <% } %>
        </nav>

        <main></main>
    </body>
</html>
