<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Error <%= error.code ?? 500 %></title>
        <link rel="stylesheet" href="/style/error.css" />
    </head>

    <body>
        <main>
            <h1>Oopsie!</h1>

            <p>
                <%= error.messsage ?? `Error ${error.code ?? 500} occurred` %>
            </p>

            <img src="https://http.cat/<%= error.code ?? 500 %>" alt="error" />

            <a onclick="history.back()">Go back</a>
        </main>
    </body>
</html>
