<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Zsi Stars</title>
</head>

<body>

    <main>
        <h1>Gwiazdy ZSI</h1>
        <form action="/img" method="post">
            <input type="number" name="photoid" placeholder="Id..." required min="0">
            <button type="submit">Visit</button>
        </form>
        <a href="/randomimg">Open random photo</a>
    </main>

    <section>
        <h2>Search images with teachers</h2>
        <input type="text" name="prompt" hx-get="/api/tag" hx-target="next #results" hx-trigger="keyup changed delay:250ms, search">
        <div id="results"></div>
    </section>


</body>

</html>