<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Zsi Stars</title>

    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>

    <main aria-labelledby="title" class="box">

        <a href="/login">Login</a>

        <h1 id="title">Gwiazdy ZSI</h1>

        <h2>Find images</h2>

        <form action="/img" method="post" class="box">
            <h3>Find image by id</h3>
            <input type="number" name="photoid" placeholder="Id..." required min="0">
            <button type="submit">Visit</button>
        </form>

        <div class="box">
            <h3>Find random image</h3>
            <a href="/randomimg">Click here</a>
        </div>

        <h2 id="search">Search images with teachers</h2>

        <div class="box">
            <h3>Search</h3>
            <input type="text" id="promptInput" name="prompt" placeholder="Search..." hx-get="/api/tag"
                hx-trigger="keyup changed delay:250ms, search" hx-target="next #results">

            <div id="results" class="box"></div>
        </div>
    </main>

    <section aria-labelledby="search" class="box">

        <h3>Search results</h3>
        <div id="imagetablist" class="box"></div>
    </section>

</body>

</html>