<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Zaloguj się</title>
        <link rel="stylesheet" href="/style/forms.css" />
    </head>

    <body>
        <main>
            <h1>Zaloguj się</h1>

            <form
                action="/login"
                method="post"
                hx-boost="true"
                hx-target="#error"
            >
                <small id="error"></small>

                <div class="field">
                    <label for="login">Login</label>
                    <input
                        type="text"
                        id="login"
                        name="login"
                        placeholder="Login..."
                        required
                    />
                </div>

                <div class="field">
                    <label for="password">Hasło</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Hasło..."
                        required
                    />
                </div>

                <button type="submit">Zaloguj</button>
            </form>

            <a href="/">Powrót</a>
        </main>
    </body>
</html>
