<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sutaC">
    <title>Gwiazdy ZSI | Reset</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/forms.css">
</head>

<body>

    <main>

        <h1>Reset password</h1>

        <p id="error"></p>

        <form hx-boost="true" action="/reset" method="post" hx-target="#error"
            hx-confirm="Are you sure you want to reset password?">

            <div class="field">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
            </div>

            <div class="field">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat Pasword" required>
            </div>

            <button type="submit">Reset</button>
        </form>

        <a href="/admin">Return</a>
    </main>

</body>

</html>