<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Zresetuj hasło</title>
        <link rel="stylesheet" href="/style/forms.css" />
    </head>

    <body>
        <main>
            <h1>Zresetuj hasło</h1>

            <p id="error"></p>

            <form
                hx-boost="true"
                action="/reset"
                method="post"
                hx-target="#error"
                hx-confirm="Czy na pewno chcesz zresetować hasło?"
            >
                <div class="field">
                    <label for="newPassword">Nowe hasło</label>
                    <input
                        type="password"
                        name="newPassword"
                        id="newPassword"
                        placeholder="Nowe hasło..."
                        required
                    />
                </div>

                <div class="field">
                    <label for="repeatPassword">Powtórz hasło</label>
                    <input
                        type="password"
                        name="repeatPassword"
                        id="repeatPassword"
                        placeholder="Powtórz hasło..."
                        required
                    />
                </div>

                <button type="submit">Zapisz</button>
            </form>

            <a href="/admin">Powrót</a>
        </main>
    </body>
</html>
