<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI</title>
        <link rel="stylesheet" href="/style/root.css" />
    </head>

    <body>
        <header id="top-header">
            <h1>Gwiazdy ZSI</h1>
        </header>

        <div class="section-wrap">
            <aside>
                <nav>
                    <div class="nav-tile btn-tile about">
                        <a href="/about">About</a>
                    </div>

                    <div class="nav-tile btn-tile tag-ranking">
                        <a href="/statistics">Statistics</a>
                    </div>

                    <div class="nav-tile btn-tile random-image">
                        <a href="/randomimg">Random<br />image</a>
                    </div>

                    <form action="/img" method="post" class="nav-tile find-id">
                        <p>Find by id</p>
                        <div class="wraper">
                            <input
                                type="number"
                                name="photoid"
                                placeholder="Id..."
                                required
                                min="0"
                                autocomplete="off"
                            />
                            <button type="submit">Find</button>
                        </div>
                    </form>

                    <div class="nav-tile find-tags">
                        <p>Find by tags</p>
                        <div class="search-field">
                            <input
                                type="text"
                                id="promptInput"
                                name="prompt"
                                placeholder="Search..."
                                hx-get="/api/tag"
                                hx-trigger="keyup changed delay:250ms, search"
                                hx-target="next #results"
                                autocomplete="off"
                                maxlength="32"
                            />

                            <div id="results" class="search-results"></div>
                        </div>
                    </div>
                </nav>
            </aside>

            <main id="imagetablist">
                <small class="light">No images was found...</small>
            </main>
        </div>

        <footer>
            <% if(authorized){ %>
            <a href="/admin"><button>User</button></a>
            <% } else { %>
            <a href="/login"><button>Login</button></a>
            <% } %>

            <a href="#top-header">
                <button>^</button>
            </a>
        </footer>
    </body>
</html>
