<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI</title>
        <link rel="stylesheet" href="/style/root.css" />
    </head>

    <body>
        <header id="top-header">
            <h1>Gwiazdy ZSI</h1>
        </header>

        <div class="section-wrap">
            <aside>
                <nav>
                    <a href="/about" class="nav-tile btn-tile about"
                        >Więcej informacji</a
                    >

                    <a href="/statistics" class="nav-tile btn-tile tag-ranking"
                        >Statystyki</a
                    >

                    <a href="/randomimg" class="nav-tile btn-tile random-image"
                        >Losowe zdjęcie</a
                    >

                    <form
                        class="nav-tile find-id"
                        hx-boost="true"
                        hx-params="none"
                        hx-on::config-request="event.detail.path = `/img/${event.target.photoid.value}`"
                        hx-on::response-error="alert('Nie znaleziono zdjęcia z tym id'); this.photoid.value = ''"
                    >
                        <label for="searchPhotoid">Wyszukaj po id:</label>
                        <div class="wraper">
                            <input
                                type="number"
                                id="searchPhotoid"
                                name="photoid"
                                placeholder="707..."
                                required
                                min="0"
                                autocomplete="off"
                            />
                            <button type="submit">Szukaj</button>
                        </div>
                    </form>

                    <div class="nav-tile find-tags">
                        <label for="promptInput">Wyszukaj po etykiecie:</label>
                        <div class="search-field">
                            <input
                                type="text"
                                id="promptInput"
                                name="prompt"
                                placeholder="Artur..."
                                hx-get="/api/tag"
                                hx-trigger="keyup changed delay:250ms, search"
                                hx-target="next #results"
                                autocomplete="off"
                                maxlength="32"
                            />

                            <div id="results" class="search-results"></div>
                        </div>
                    </div>
                </nav>
            </aside>

            <main id="imagetablist">
                <% if (tagid !== undefined) { %>
                <small
                    hx-get="/api/imagetaglist/<%= tagid %>"
                    hx-trigger="load"
                    hx-swap="outerHTML"
                    >Ładowanie zdjęć...</small
                >
                <% } else { %>
                <small class="light"
                    >Wyszukaj etykietę aby wyświetlić zdjęcia...</small
                >
                <% } %>
            </main>
        </div>

        <footer>
            <% if(authorized){ %>
            <a href="/admin" class="buttonlike">Profil</a>
            <% } else { %>
            <a href="/login" class="buttonlike">Zaloguj</a>
            <% } %>

            <a
                href="#top-header"
                class="buttonlike"
                aria-label="Powróć na początek strony"
                title="Powróć na początek strony"
                >^</a
            >
        </footer>
    </body>
</html>
