<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Etykiety</title>
        <link rel="stylesheet" href="/style/tags.css" />
    </head>

    <body>
        <header id="top-header">
            <h1>Etykiety</h1>
        </header>

        <main>
            <h2>Dodaj etykietę</h2>

            <small id="error"></small>

            <form
                hx-boost="true"
                hx-put="/tags"
                hx-target="next #tags-list"
                hx-swap="afterend"
                hx-confirm="Czy na pewno chcesz dodać nową etykietę?"
                hx-push-url="false"
            >
                <div class="field">
                    <label for="name">Nazwa</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Nazwa..."
                        required
                        autocomplete="off"
                    />
                </div>

                <button type="submit">Dodaj</button>
            </form>
        </main>

        <section class="tags-container" aria-labelledby="tags-list">
            <h2 id="tags-list">Lista etykiet</h2>
            <% for( const tag of tags ) { %> <%-
            include("../components/editTag.ejs", {tag, highlight: false}) %> <%
            } %>
        </section>

        <footer>
            <a href="/admin" class="buttonlike">Powrót</a>

            <a
                href="#top-header"
                class="buttonlike"
                aria-label="Powróć na początek strony"
                title="Powróć na początek strony"
            >
                ^
            </a>
        </footer>
    </body>
</html>
