<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Etykiety</title>
        <link rel="stylesheet" href="/style/tags.css" />
    </head>

    <body>
        <header id="top-header">
            <h1>Etykiety</h1>
        </header>

        <main>
            <h2>Dodaj etykietę</h2>

            <small id="error"></small>

            <form
                hx-boost="true"
                hx-put="/tags"
                hx-target="next #tags-list"
                hx-swap="afterend"
                hx-confirm="Czy na pewno chcesz dodać nową etykietę?"
                hx-push-url="false"
            >
                <div class="field">
                    <label for="name">Nazwa</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Nazwa..."
                        required
                        autocomplete="off"
                    />
                </div>

                <button type="submit">Dodaj</button>
            </form>
        </main>

        <section class="tags-container">
            <h2 id="tags-list">Lista etykiet</h2>

            <% tags.forEach(tag=> { %> <%- include("../components/editTag.ejs",
            {tag, highlight: false}) %> <% }); %>
        </section>

        <footer>
            <a href="/"><button>Powrót</button></a>

            <a href="#top-header">
                <button>^</button>
            </a>
        </footer>
    </body>
</html>
