<div style="color: green" hx-boost="false">
    <h2>Zdjęcie zostało dodane!</h2>
    <p>Id: <%= photoid %></p>
    <a href="/addImg">Dodaj kolejne zdjęcie</a>
    <a href="/img/<%= photoid %>">Zobacz nowe zdjęcie</a>
</div>
