<div style="color: green;" hx-boost="false">
    <h2>Your Image was added!</h2>
    <p>New image id: <%= photoid %>
    </p>
    <a href="/addImg">Add another image</a>
    <a href="/img/<%= photoid %>">Visit new image</a>
</div>