<form class="tag <%= highlight ? " highlight" : "" %>" hx-patch="/tags/<%= tag.id %>" hx-boost="true"
        hx-swap="outerHTML"
        hx-confirm="Czy na pewno chcesz edytować tę etykietę?">
        <input name="name" value="<%= tag.name %>">

        <button type="submit">Zapisz</button>
        <button hx-delete="/tags/<%= tag.id %>" hx-swap="outerHTML" hx-target="closest form.tag"
            hx-confirm="Czy na pewno chcesz usunąć tę etykietę?">Usuń</button>
</form>