<dialog id="dialogHelpWanted">
    <img
        src="/images/iwantyoutoadministergwiazdyzsi.png"
        alt="I want you to administer gwiazdy zsi"
    />

    <p>
        Potrzebna jest twoja pomoc w administrowaniu Gwiazdami ZSI! Skończyłem
        właśnie szkołę, ale to nie koniec tej strony, pomóż mi w utrzymaniu jej!
        Skontaktuj się ze mną aby dowiedzieć się więcej:
    </p>

    <div class="wraper">
        <a
            href="mailto:catus.pl@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            class="buttonlike"
            >Napisz maila</a
        >
        <a
            href="https://sutac.pl#contact"
            target="_blank"
            rel="noopener noreferrer"
            class="buttonlike"
            >Więcej form kontaktu</a
        >
        <button id="btnHelpWantedClose">Zamknij na zawsze ;-;</button>
    </div>
</dialog>
