<dialog id="dialogHelpWanted">
    <img
        src="/images/iwantyoutoadministergwiazdyzsi.png"
        alt="I want you to administer gwiazdy zsi"
    />

    <p>
        Chesz pomóc w utrzymywaniu Gwiazd ZSI?<br />
        <u>Zostań administartorem</u> i zarządzaj zdjęciami lub<br />
        <u>dołącz do kontrybutariuszy</u> na GitHub i dodaj własny feature!<br />
        Skontaktuj się ze mną aby dowiedzieć się więcej:
    </p>

    <div class="wraper">
        <a
            href="https://github.com/sutaC/Gwiazdy-ZSI/issues"
            target="_blank"
            rel="noopener noreferrer"
            class="buttonlike"
            >GitHub</a
        >
        <a
            href="https://sutac.pl#contact"
            target="_blank"
            rel="noopener noreferrer"
            class="buttonlike"
            >Kontakt</a
        >
        <button id="btnHelpWantedClose">Zamknij</button>
    </div>
</dialog>
