<% if(spinner) { %>
<div
    class="result"
    hx-get="/scraper/status"
    hx-swap="outerHTML"
    hx-trigger="every 10s"
>
    <small>Scraping in process</small>
    <div class="spinner"></div>
</div>
<% } else { %>
<div class="result">
    <h3>Skrobanie zakończone</h3>
    <ul>
        <li>Limit stron: <%= limit %></li>
        <li>Znalezione zdjęcia: <%= found %></li>
        <li>Dodane nowe zdjęcia: <%= added %></li>
    </ul>
    <button hx-boost="true" hx-on:click="location.reload()">
        Załaduj nowe
    </button>
</div>

<% } %>
